.git
.gitignore
.env
*.pyc
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.vscode/
.idea/
*.log
backend/
.pytest_cache/
src/

*.txt
!glove.42B.300d.txt
!requirements.txt

measureMillis.py
DAG_backend_test.py
createNounsList.py
createDatesForCsv.py
profiler.py
README.py
word-list.csv
writeDefinitions.py
CSW.py
verifyNounsList.py