words.txt
nouns.txt
CSW.txt

glove.840B.300d.txt
glove.840B.300d.zip
glove.6B.300d.txt
glove.6B.200d.txt
glove.6B.100d.txt
glove.6B.50d.txt
glove.6B.zip
words.txt


profile_results.txt
backend/
__pycache__